.container {
  background-color: #788756;
  text-align: center;
  text-decoration: none;
}

.text {
  font-weight: lighter;
}
.title {
  background-color: burlywood;
  border-radius: 2rem;
  padding: 1rem;
}

.ul {
  list-style: lower-alpha;
}
/* -------
-------hellopug */

.main-hello {
  background-color: coral;
}
